# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Python
__pycache__/
*.pyc
venv/

# Environment variables
.env
.env.example # <-- Geliştirici dosyalarını imaja ekleme

# Documentation
README.md